<h5 class="text-center title mt-2 mb-4"> {{'identifiers-display.title' | translate }}</h5>

<div class="mt-4 text-center title-area">{{'identifiers-display.identifiers' | translate }}</div>
<div class="data-area p-4">
  <div class="row">
    <div class="col-md-6">

      <div class="row mb-2"><span class="col-md-4 key">{{'identifiers-display.gate-id' | translate }}</span> <span class="col-md-8 value">{{identifiers.gateId}}</span></div>
      <div class="row mb-2"><span class="col-md-4 key">{{'identifiers-display.dataset-id' | translate }}</span> <span class="col-md-8 value">{{identifiers.datasetId}}</span></div>
      <div class="row mb-2"><span class="col-md-4 key">{{'identifiers-display.platform-id' | translate }}</span> <span class="col-md-8 value">{{identifiers.platformId}}</span></div>
    </div>
    <div class="col-md-6">
      <div class="row mb-2"><span class="col-md-4 key">{{'identifiers-display.delivery-date' | translate }}</span> <span class="col-md-8 value">{{identifiers.deliveryEventActualOccurrenceDatetime | date:'dd/MM/yyyy hh:mm:ss' }}</span></div>
      <div class="row mb-2"><span class="col-md-4 key">{{'identifiers-display.acceptance-date' | translate }}</span><span class="col-md-8 value">{{identifiers.carrierAcceptanceDatetime | date:'dd/MM/yyyy hh:mm:ss' }}</span></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-4 text-center">
      <button id="open-btn" class="btn btn-sm btn-primary-in" (click)="goToUil()"><span class="fa-solid fa-arrow-up-right-from-square me-2"></span>{{'identifiers-display.go-to-uil' | translate }}</button>
    </div>
  </div>
</div>

  <div class="row">
  <div class="col-6">
    <div class="mt-4 text-center title-area ">{{'identifiers-display.transport-movement' | translate }}</div>
    <div class="data-area vehicle-area p-4 table-responsive">
      <table class="table table-hover" aria-label="identifiers display table">
        <thead>
          <tr>
            <th scope="col" class="key" (click)="sortCarriage('id')">{{'identifiers-display.id' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sortCarriage('schemeAgencyId')">{{'identifiers-display.scheme-agency-id' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sortCarriage('modeCode')">{{'identifiers-display.mode-code' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sortCarriage('registrationCountryCode')">{{'identifiers-display.registrationCountry' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sortCarriage('dangerousGoodsIndicator')">{{'identifiers-display.dangerous-goods-indicator' | translate }}<span class="fa fa-fw fa-sort"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transportMovement of identifiers.mainCarriageTransportMovement">
            <td class="value">{{transportMovement.id}}</td>
            <td class="value">{{transportMovement.schemeAgencyId}}</td>
            <td class="value">{{getTransportModeFromCode(transportMovement.modeCode)}}</td>
            <td class="value">{{transportMovement.registrationCountryCode}}</td>
            <td class="value">{{transportMovement.dangerousGoodsIndicator}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-6">
    <div class="mt-4 text-center title-area ">{{'identifiers-display.used-transport-equipment' | translate }}</div>
    <div class="data-area vehicle-area p-4 table-responsive">
      <table class="table table-hover" aria-label="identifiers display table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" class="key" (click)="sort('sequenceNumber')">{{'identifiers-display.sequence-number' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sort('id')">{{'identifiers-display.id' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sort('schemeAgencyId')">{{'identifiers-display.scheme-agency-id' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sort('categoryCode')">{{'identifiers-display.category-code' | translate }}<span class="fa fa-fw fa-sort"></span></th>
            <th scope="col" class="key" (click)="sort('registrationCountryCode')">{{'identifiers-display.registration-country' | translate }}<span class="fa fa-fw fa-sort"></span></th>
          </tr>
        </thead>
        @for (usedTransportEquipment of identifiers.usedTransportEquipment; track usedTransportEquipment) {
          <tbody>
            <tr (click)="showCarried($index)">
              <td class="key ico-big"><span class="fa-solid fa-folder-plus ms-2"></span></td>
              <td class="value">{{usedTransportEquipment.sequenceNumber}}</td>
              <td class="value">{{usedTransportEquipment.id}}</td>
              <td class="value">{{usedTransportEquipment.schemeAgencyId}}</td>
              <td class="value">{{usedTransportEquipment.categoryCode}}</td>
              <td class="value">{{usedTransportEquipment.registrationCountryCode}}</td>
            </tr>
            <tr *ngFor="let carriedTransportEquipment of usedTransportEquipment.carriedTransportEquipment" class="hidden" [id]="'carried-' + $index">
              <td></td>
              <td class="value grey">{{carriedTransportEquipment.sequenceNumber}}</td>
              <td class="value grey">{{carriedTransportEquipment.id}}</td>
              <td class="value grey">{{carriedTransportEquipment.schemeAgencyId}}</td>
            </tr>
          </tbody>
        }
      </table>
    </div>
  </div>
</div>
